.card-container{
    margin: 70px auto;
    width: 350px;
    height: 380px;
    background-color: white;
    border-radius: 5px;
}
.user-logo{
    text-align: right;
    margin-right: 50px;
}
.user-heading{
    margin-top: 20px;
    margin-right: 50px;
    text-align: right;
    font-weight: 700;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: #153C3F;
}
.user-para{
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 75px;
    text-align:justify;
    font-family: 'Roboto', sans-serif;
}
@media screen and (max-width:786px) {
    .card-container{
        margin-top: 40px;
        width: 460px;
        height: 380px;
        background-color: white;
    }
    .user-logo{
        text-align: center;
        margin: 0 auto;
    }
    .user-heading{
        margin: 20px auto;
        text-align: center;
        font-weight: 700;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        color: #373737;
    }
    .user-para{
        margin-top: 30px;
        text-align:center;
        font-family: 'Roboto', sans-serif;
    }
}