.intersection-wrapper{
    height: 700px;
}
.intersection-container{
    display: flex;
    flex-direction: row-reverse;
    margin: 0px 80px;
}
.intersection-left,.intersection-right {
    width: 50%;
}
.intersection-left img{
    padding-top: 40px;
    width: 660px;
    height: 460px;
}
.intersection-right h1{
    line-height: 80px;
    margin-top: 60px;
    text-align: right;
    margin-right: 130px;
    font-weight: 1000;
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
    color: #373737;
}
.intersection-subheading{
    padding-top: 40px;
    text-align: right;
    margin-right: 130px;
    line-height: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #373737;
}
.intersection-para{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 500;
    margin-right: 130px;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    line-height: 40px;
    color: #373737;

}

.intersection-right a{
    position: absolute;
    margin-top: 40px;
    padding-top: 20px;
    left: 410px;
    display: inline-block;
    width: 207px;
    height: 60px;
    background-color: #00C8E1;
    color: #373737;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
.intersection-right a:hover{
    border: 3px solid black;
    outline: 0px;
    cursor: pointer;
}
@media screen and (max-width:768px) {
    .intersection-wrapper{
        padding-top: 0px;
        margin-top: 500px;
        height: 900px;
        width: 100%;
    }
    .intersection-container{
        display: flex;
        flex-wrap: wrap;
        margin: 0px 30px;
    }
    .intersection-left img{
        padding-top: 40px;
        width: 480px;
        height: 400px;
    }
    .intersection-right,.intersection-left{
        margin: 0 auto;
        width: 100%;
    }
    .intersection-right h1{
        padding-top: 40px;
        text-align: center;
        font-weight: 1000;
        font-size: 55px;
        font-family: 'Roboto', sans-serif;
        color: #373737;
    }
    .intersection-right p{
        padding-top: 40px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 26px;
        line-height: 60px;
        color: #373737;
    }
    
.intersection-right a{
    position: relative;
    margin-top: 0px;
    margin-left: 50px;
    display: inline-block;
    width: 207px;
    height: 60px;
    background-color: #00C8E1;
    color: #373737;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
}