
.container{
    display: flex;
    margin: 0px 50px;
}
.container-left{
    width: 50%;
}
.container-left img{
    height: 500px;
    padding: 50px;   
}
.container-right h1{
    padding-top: 60px ;
    margin-left: 50px;
    font-weight: 900;
    font-size: 90px;
    font-family: 'Roboto', sans-serif;
    color: #153C3F;
    line-height: 1.15;
}
.container-right p{
    margin-top: 120px;
    margin-right: 50px;
    margin-bottom: 0px;
    color: #373737;
    text-align: right;
    font-weight: 100;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.warning{
    margin-top: 20px;
    background-color: #136E82;
    height: 140px;
    border: 1px solid violet;
}
.warning-button{
    display: inline-block;
    margin-top: 35px;
    margin-left: 80px;
    padding: 20px;
    border: 4px solid white;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.warning p{
    display: inline-block;
    margin-left: 80px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 18px;
}
@media screen and (max-width:786px){
    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container-left img{
        height: 350px;  
    }
    .container-right h1{
        padding-top: 0%;
        text-align: center;
        font-weight: 1000;
        font-size: 45px;
        font-family: 'Roboto', sans-serif;
        color: #153C3F;
        line-height: 1.15;
    }
}
